*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin-top: 50px;
}
.container{
    width: 250px;
}
.container .input-field{
    width: 100%;
    height: 80px;
    text-align: right;
    padding: 0;
    padding-left: 0;
    font-weight: bold;
    font-size: 24px;
    letter-spacing: .1em;
}
main.container, .grid-container{
    text-align: center;
    margin: auto;

}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 250px;
    height: 270px;
    background-color: #000;
    color: #fff;
}
.grid-container .button{
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-size: 1.2rem;
    border: .5px solid #999;
}
.grid-container .button:hover{
    background-color: #33ffcc;
    color: #000;
}
.grid-container .button#grid-area-2{
    grid-area: 5/span 1/span 2/5;
}
#grid-area-2 p{
    text-align: center;
    margin-top: 20px;
}